* {
    padding: 0;
    margin: 0;
}

body {
    background-color:#F2B6B6;
}

h1 {
    text-align: center;
    background-color:#d672a4;
    color: white;
    padding: 20px;
}
video{
    display: flex;
    justify-content: center;
    margin: 100px auto;
    width: 600px;

}